
body{
    background-color: blue;
    font-size: large;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 20px;  
}

/* #medium, #small{
    display:none;
}

#large{
    display: block;
} */
